---
import Something from '../Something';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name='color-scheme' content='light dark' />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<Something client:load />
	</body>
</html>
